<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>The Perfect 2 Column Liquid Layout (left menu): No CSS hacks. SEO friendly. iPhone compatible.</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="The Perfect 2 Column Liquid Layout (left menu): No CSS hacks. SEO friendly. iPhone compatible." />
	<meta name="keywords" content="The Perfect 2 Column Liquid Layout (left menu): No CSS hacks. SEO friendly. iPhone compatible." />
	<meta name="robots" content="index, follow" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script src="https://www.fidestin.com/loya/fidestin.js" type="text/javascript"></script>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="screen.css" media="screen" />
    <link href="supplier.css" rel="stylesheet" />
    
    <script>
        var weekNumber;
        var ddate;
        $(document).ready(function () {
            weekOfYear();
            $('#custLink').attr("href", "selectCustomers.aspx?ca=" + weekNumber + "");

            var ddate = new Date();
            var dayOfWeek = ddate.getDay();
            ddate.setTime(ddate.getTime() - dayOfWeek * 86400000); // 86 400 000 = # MS per day
           // alert('Week of ' + (ddate.getDate()+1)+"-"+(ddate.getMonth()+1)+"-"+ddate.getFullYear());
        });

        function weekOfYear() {
            weekNumber = (new Date()).getWeek();
        }

        Date.prototype.getWeek = function () {
            var onejan = new Date(this.getFullYear(), 0, 1);
            return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
        }

    </script>
</head>
<body>
    <form runat="server" id="start">

    <div class="headFrame">
           <img src="http://placehold.it/350x150" />
           <img src="http://placehold.it/650x150" />
       </div>
      <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>

<div class="colmask leftmenu">
	<div class="colleft">
		<div class="col1">
			<!-- Column 1 start -->
			<div style="width:500px">
                <div style="float:left">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>

			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
			<div id="navigation">
                <ul>
                    <li><a href="serviceAvailability.aspx">Service Availability</a></li>
                    <li ><a href="selectCustomers.aspx" id="custLink">Select Guests</a></li>
                    <li><a href="serviceDetail.aspx">Select Detail</a></li>
                </ul>
			</div>
            <!-- Column 2 end -->
		</div>
	</div>
</div>
    </form>
</body>
</html>
